.app {
	align-items: center;
	display: flex;
	justify-content: space-around;
	min-height: 100vh;
	background-color: rgb(85, 142, 192);
}

.tweet {
	height: 300px;
	width: 300px;
	background-color: white;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
